<!-- Paginación de los Clientes -->
<div class="dark:bg-gray-700 px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
            <p class="text-sm text-gray-800 dark:text-white">
                Mostrando
                <span class="font-medium">{{ clientes.start_index }}</span>
                a
                <span class="font-medium">{{ clientes.end_index }}</span>
                de
                <span class="font-medium">{{clientes.paginator.count}}</span>
                resultados
            </p>
        </div>
        
        <div>
            <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                {% if clientes.has_previous %}
                <a href="?page={{ clientes.previous_page_number }}" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-200">
                    <span class="sr-only">Anterior</span>
                    <i class="fas fa-chevron-left"></i>
                </a>
                {% endif %}

                {% for pagina in clientes.paginator.page_range %}
                <a href="?page={{ pagina }}" 
                    class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium
                    {% if clientes.number == pagina %} 
                        bg-blue-500 text-white 
                    {% else %}
                        bg-white text-gray-700 hover:bg-gray-200
                    {% endif %}">{{ pagina }}
                </a>
                {% endfor %}

                {% if clientes.has_next %}
                <a href="?page={{ clientes.next_page_number }}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-200">
                    <span class="sr-only">Siguiente</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
                {% endif %}
            </nav>
        </div>
    </div>
</div>
